/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	width: 100%;
	min-height: 100%;
	background-color: #fff;
	
}

.header {
	padding: 30px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: relative;
	z-index: 5;
}

.conteiner {
	width: 90vw;
	margin: 0 auto;
}

.header__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}


.header__logo {
	cursor: pointer;
}

.header__logo-link {
	width: 110px;
}

.header__logo-link img {
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.header__li {
	margin-right: 60px;
}

.header__li:last-child {
	margin-right: 0;
}

@media (max-width: 1020px) {

	.header__li {
	margin-right: 30px;
	}
}

.burger {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(66, 60, 57, 0.82);
	border-radius: 30%;

	position: relative;
}

.burger-line{
	height: 3px;
	width: 27px;
	background: rgba(66, 60, 57, 0.82);
}

.burger-line:before {
	content: '';
	display: block;
	height: 3px;
	width: 27px;
	background: rgba(66, 60, 57, 0.82);

	position: absolute;
	top: 26px;
}

.burger-line:after {
	content: '';
	display: block;
	height: 3px;
	width: 27px;
	background: rgba(66, 60, 57, 0.82);

	position: absolute;
	bottom: 25px;
}

@media(max-width: 768px) {

	nav>.header__row {
		position: absolute;
		top:100%;
		left: 50%;
		transform: translateX(-50%);

		flex-direction: column;
		border-radius: 0 0 10px 10px;
		overflow: hidden;

		width: 100%;
		max-height: 0;

		transition: max-height .7s ease-out;
		background:rgba(66, 60, 57, 0.32);
	}

	nav.open>.header__row {

		transition: max-height .7s ease-in;
		max-height: 1000px;

	}


	.burger {
		display: flex;
	}

	.header__li {
		display: block;
		text-align: center;

		margin: 10px auto 0;
		padding: 10px;

		font-size: 16px;
		font-style: 600;
	}

	.header__li:last-child {
		margin: 10px auto;
	}

	.header__a {
		color: #fff;
		letter-spacing: 5px;
		font-weight: 800;
	}

}

.header__icon {
	width: 22px;
	margin-right: 40px;
}

@media(max-width: 470px) {

	.header__icon-brick {
		display: none;
	}

}

@media (max-width: 1020px) {
	.header__icon {
		margin-right: 20px;
	}
}

.img {
	width: 100%;
}

/* main block*/

.main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

/* start of swiper slider*/

.swiper__section {
	padding: 40px 0 0 0px;
}

.swiper__card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-height: 620px;

}

.swiper-slide{
	padding: 0 20px;
}

.radius-left {
	border-radius: 8% 0 0 8%;
}

.radius-right {
	border-radius: 0 8% 8% 0;
}
.swiper__textCard {
	padding: 50px;
	display: flex;
	flex-direction: column;

	width: 50%;

	background: #E7FAFE;
}

.swiper__card-label {
	display: flex;
	width: max-content;
	border-radius: 25vh;
	padding: 10px 20px;
	background: #fff;

	cursor: pointer;
}

.swiper__icon {
	flex:1 1 24px;
}

.swiper__icon {
	width: 100%;
}

/*pagination*/


/*bulets*/
div>.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: rgb(0 0 0 / 50%);
}

.button__text {
	padding: 2px 0 0 13px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: -0.02em;
	color: #000000;
}


.swiper__imageCard {
	flex:1 1 50%;
}

.swiper__imageCard img {
	width: 100%;
}


/* end of swiper slider*/



/**end of main block/

/*start footer*/

.footer {
	display: flex;
	flex-direction: row;
	padding: 48px 0;
}

.footer__text {
	flex:1 1 auto;
	text-align: center;
}

.footer-nogrow {
	flex-shrink: 0;
	flex-grow: 0;
}

.footer__textcolor {
	color:#FF7967;
}

/*end of footer*/